<ifModule mod_rewrite.c>
    RewriteEngine On
  RewriteBase /
  RewriteRule ^/bnote/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . bnote/index.html [L]
</ifModule>