<ifModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^/blogal/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . blogal/index.html [L]
</ifModule>